CORE_GATEWAY_HOST=0.0.0.0
CORE_GATEWAY_PORT=8080
COGNITIVE_AGENT_HOST=0.0.0.0
COGNITIVE_AGENT_PORT=8080
MARKETPLACE_HOST=0.0.0.0
MARKETPLACE_PORT=8080
MARKETPLACE_STORAGE_ROOT=/tmp/mpx-marketplace-storage
MARKETPLACE_SIGNING_SECRET=change-me
